<script src="/js/phaserTest.js"></script>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Game Over</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="score">
                </div>
                <form>
                    <div id="enterName" class="form-group">
                        <form><input type="test" class="form-control" id="user" placeholder="Enter Name" required>
                        </form>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="scores" type="button" class="btn btn-secondary" data-dismiss="modal">Add Score</button>
                <button id="playAgain" type="button" class="btn btn-primary">Play Again</button>
            </div>
        </div>
    </div>
</div>


<script>

    // play again button reloads the page
    $("#playAgain").click(function () {
        location.reload()
    });

    $("#scores").click(function () {
        var userData = {
            name: $("#user").val(),
            score: $("#score").text(),
        };

        if (userData.name === "") {
            alert("What are you called???");
            return;
        };

        console.log(userData);

        var currentURL = window.location.origin;
        $.post(currentURL + "/api/highscores", userData, function (data) {
            $("#name").text(data.name);
            $("#score").text(data.score);
        }).then(function () { document.location.href = ("/") });
    })
</script>